header {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: #414C80;
  display: flex;
  align-items: center; }
  header nav li {
    display: inline-block;
    position: relative;
    width: 24%;
    text-align: center;
    transition: all .2s; }
    header nav li:hover ul {
      display: flex; }
    header nav li a {
      font-size: 20px;
      color: white;
      text-decoration: none !important; }
    header nav li ul {
      display: none;
      position: absolute;
      background-color: #414C80;
      width: 200px;
      border: solid 2px #4B5DB8;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      header nav li ul li {
        display: flex;
        width: 100%;
        text-align: center; }

#imgDiv {
  display: flex;
  justify-content: center; }
  #imgDiv img {
    margin-left: 10px !important;
    width: 50%; }

#menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

main {
  background-color: #4B5DB8;
  padding-top: 40px; }

#tituloNovedades {
  width: 100%; }
  #tituloNovedades h4 {
    font-size: 50px;
    text-align: center; }

.carItems {
  height: 750px; }
  .carItems img {
    height: 100%;
    transition: all .2s; }

#carrusel {
  border-top: solid 3px black;
  border-bottom: solid 3px black; }
  #carrusel:hover img {
    filter: brightness(50%); }

.tienda {
  padding-left: 5%;
  padding-right: 5%; }
  .tienda a {
    text-decoration: none;
    transition: all .2s; }
    .tienda a:hover {
      transform: scale(1.04, 1.04); }

.item1 {
  background-color: #8048D6 !important; }

.item2 {
  background-color: #6F55D1 !important; }

.items {
  border: solid 3px #1d2135 !important; }
  .items img {
    padding: 6px; }
  .items h5 {
    font-size: 20px;
    color: white;
    text-decoration: none !important; }
