header {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: #414C80;
  display: flex;
  align-items: center; }
  header nav li {
    display: inline-block;
    position: relative;
    width: 24%;
    text-align: center;
    transition: all .2s; }
    header nav li:hover ul {
      display: flex; }
    header nav li a {
      font-size: 20px;
      color: white;
      text-decoration: none !important; }
      header nav li a:hover {
        color: #6F55D1; }
    header nav li ul {
      display: none;
      position: absolute;
      background-color: #414C80;
      width: 200px;
      border: solid 2px #4B5DB8;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      header nav li ul li {
        display: flex;
        width: 100%;
        text-align: center; }

#imgDiv {
  display: flex;
  justify-content: center; }
  #imgDiv img {
    margin-left: 10px !important;
    width: 50%; }

#menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #menu h1 {
    font-size: 50px;
    color: white;
    text-decoration: none !important; }

main {
  background-image: linear-gradient(to bottom, #366BDB, #4B5DB8, #314191);
  padding-top: 40px;
  padding-bottom: 300px; }

#tituloNovedades {
  width: 100%; }
  #tituloNovedades h4 {
    font-size: 70px;
    color: white;
    text-decoration: none !important;
    text-align: center; }

.carItems {
  height: 750px; }
  .carItems img {
    height: 100%;
    transition: all .2s; }
  .carItems h5 {
    font-size: 35px;
    color: white;
    text-decoration: none !important; }
  .carItems p {
    font-size: 20px;
    color: white;
    text-decoration: none !important; }

#carrusel {
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  margin-bottom: 300px; }
  #carrusel:hover img {
    filter: brightness(50%); }

#tituloTienda h2 {
  font-size: 60px;
  color: white;
  text-decoration: none !important; }

.tienda {
  padding-inline: 5%;
  padding-block: 15px;
  margin-top: 30px;
  margin-bottom: 120px;
  border-top: solid 3px #1d2135;
  border-bottom: solid 3px #1d2135;
  background-image: linear-gradient(to right, #414c80, #1d2135); }
  .tienda h4 {
    font-size: 25px;
    color: white;
    text-decoration: none !important;
    transform: translate(-15px); }
  .tienda a {
    text-decoration: none;
    transition: all .2s; }
    .tienda a:hover {
      transform: scale(1.04, 1.04); }

#tiendaFinal {
  margin-bottom: 0; }

.item1 {
  background-color: #8048D6 !important; }

.item2 {
  background-color: #6F55D1 !important; }

.items {
  border-radius: 15px !important;
  border: solid 3px #1d2135 !important;
  height: auto; }
  .items img {
    padding: 6px; }
  .items div {
    display: none; }
  .items h5 {
    font-size: 20px;
    color: white;
    text-decoration: none !important; }
  .items:hover div {
    display: block; }

footer {
  background-color: #414C80;
  padding-inline: 20%;
  height: auto; }

#submenu {
  height: 200px;
  padding-block: 30px; }
  #submenu div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start; }
    #submenu div a {
      font-size: 20px;
      color: white;
      text-decoration: none !important; }
      #submenu div a:hover {
        color: #6F55D1; }

#redes {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px; }
  #redes img {
    width: 75px;
    background-color: #366BDB;
    border: solid 4px #1d2135;
    border-radius: 30px;
    padding: 2px;
    transition: all .25s; }
    #redes img:hover {
      border-radius: 0;
      transform: scale(1.25, 1.25); }

#copyright {
  text-align: center;
  font-size: 17px;
  color: white;
  font-weight: bold; }
