$paletaColores:(
    1: #1464DB,
    2: #366BDB,
    3: #4B5DB8,
    4: #414C80,
    5: #1d2135,
    6: #8048D6,
    7: #6F55D1,
);

@mixin valoresFuente($size, $color, $deco){
    font-size: $size;
    color: $color;
    text-decoration: $deco !important;
}

header{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: map-get($paletaColores, 4);
    display: flex;
    align-items: center;
    nav{
        li{
            display: inline-block;
            position: relative;
            width: 24%;
            text-align: center;
            transition: all .2s;
            &:hover{
                
                ul{
                    display: flex;
                }
            }
            a{
                @include valoresFuente(20px, white, none)
            }
            ul{
                display: none;
                position: absolute;
                background-color: map-get($paletaColores, 4);
                width: 200px;
                border: solid 2px map-get($paletaColores, 3);
                flex-direction: column;
                align-items: center;
                justify-content: center;
                li{
                    display: flex;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

#imgDiv{
    display: flex;
    justify-content: center;
    img{
        margin-left: 10px !important;
        width: 50%;
    }
}

#menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: map-get($paletaColores, 3);
    padding-top: 40px;
}

#tituloNovedades{
    width: 100%;
    h4{
        font-size: 50px;
        text-align: center;
    }
}

.carItems{
    height: 750px;
    img{
        height: 100%;
        transition: all .2s;
    }
}

#carrusel{
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    &:hover{
        img{
            filter: brightness(50%);
        }
    }
}

.tienda{
    padding-left: 5%;
    padding-right: 5%;
    a{
        text-decoration: none;
        transition: all .2s;
        &:hover{
            transform: scale(1.04, 1.04);
        }
    }
}

$coloresTienda:(
    1: #8048D6,
    2: #6F55D1,
);

@each $num, $color in $coloresTienda{
    .item#{$num}{
        background-color: $color !important;
    }
}



.items{
    border: solid 3px map-get($paletaColores, 5) !important;
    img{
        padding: 6px;
    }
    h5{
        @include valoresFuente(20px, white, none)
    }
}